@media (min-width: 1200px) {
	.container {
		padding: 0;
		width: 1180px;
	}
}
@media (max-width: 1024px) {
	.logo{float: none !important;text-align: center;padding-bottom: 30px;}
	.header-right-info {float: none !important;padding-left: 10%;}
	.navigation .nav-header > ul > li > a {padding: 23px 12px;}
	.single-call-to-action .content-box h3 {font-size: 20px;}
	.single-call-to-action .content-box p br {display: none;}
	.single-specialize {padding: 0 30px;}
	.single-specialize br {display: none;}
	.full-sec .full-sec-content {padding-bottom: 70px;}
	.single-service-home .icon-box, .single-service-home .content {display: block;}
	.single-service-home .inner-box {margin-left: auto;margin-right: auto;}
	.single-service-home .content {text-align: center;position: relative;z-index: 4;padding-top: 25px;}
	.home-appointment-form .form-grp .single-form input {width: 420px;margin-bottom: 20px;}
}
@media (max-width: 768px) {
	.header-right-info {padding: 0;}
	.single-header-info .icon-box, .single-header-info .content {display: block;}
	.single-header-info .icon-box .inner-box {margin-left: auto;margin-right: auto;}
	.single-header-info .content {text-align: center;margin-top: 15px;}
	.single-header-info .thm-btn {margin: 37px 0;}
	.single-call-to-action {height: 200px;}
	.single-call-to-action .icon-box i.flaticon-coins, .single-call-to-action .icon-box i.flaticon-medical, .single-call-to-action .icon-box i.flaticon-clock {position: static;}
	.offer-wrapper:after, .offer-wrapper:before, .offer-wrapper .has-overlay:before, .offer-wrapper .has-overlay:after {width: 100%;height: 50%;}
	.offer-wrapper:before , .offer-wrapper .has-overlay:before {top: auto;bottom:0;}
	.img-masonary {margin-top: 80px;}
	.fact-counter-wrapper {text-align: center;}
	.single-fact {margin-top: 30px;}
	.single-team-member .img-box {display: block;}
	.footer-call-to-action {text-align: center;}
	.footer-call-to-action a.thm-btn {float: none !important;}
	.footer-widget {margin-bottom: 50px;}
	.footer {padding-bottom: 60px;}
	.single-blog-post{margin-bottom: 50px;}
	.blog-home {padding-bottom: 40px;}
}
@media (max-width: 600px) {
	.home-appointment-form {margin: 0;}
}
@media (max-width: 480px) {
	.top-bar .left-text {float: none !important;text-align: center;}
	.social-icons {float: none !important;text-align: center;}
	.social-icons ul li a {border-top: 1px solid #EAEAEA;margin-left: -4px;}
	.single-header-info:last-child {float: none;width: 100%;text-align: center;}
	.full-sec .full-sec-content {padding-left: 30px;padding-right: 30px; }
	.full-sec h3 {font-size: 27px;}
	.full-sec h3 br {display: none;}
	.single-offer.right {padding-left: 0;}
	.faq-home .accrodion .accrodion-title h4 {font-size: 15px;}
	.faq-home .img-masonary .img-w1 {width: 100%;}
	.faq-home .img-masonary .img-w1 img {margin-left: auto;margin-right: auto;display: block;}
	.fact-counter-wrapper h2 br {display: none;}
	.team-carousel .owl-controls {top: -70px;}
	.single-blog-post {width: 85%;margin-left: auto;margin-right: auto;}
	.footer-widget {width: 80%;margin-left: auto;margin-right: auto;}
	.home-appointment-form .form-grp .single-form {width: 100%;}
	.home-appointment-form .form-grp .single-form input {width: 100%;}
	.col-4 .single-specialize {padding-right: 0;width: 85%;margin-left: auto;margin-right: auto;}
	.meet-doctors.team-page .single-team-member {width: 85%;margin-left: auto;margin-right: auto;}
	.single-team-member .img-box img {width: 100%;}
	.single-award {width: 50%;margin-bottom: 20px;}
	.single-sidebar-widget {width: 80%;margin-left: auto;margin-right: auto;}
	.call-to-action.boxed .single-call-to-action .content-box {width: 100%;padding: 0;}
	.faq-home .accrodion .accrodion-title h4 span.text {display: inline-block;width: 70%;font-size: 18px;}
	.faq-home .accrodion .accrodion-title h4 span.decor {vertical-align: top;margin-top: 15px;}
}

@media (max-width: 414px) {
	.single-header-info {float: none;text-align: center;padding: 0;}
	.top-bar .left-text p {line-height: 20px; padding: 14px 0;}
	.mainmenu-area .search-box {width: 230px;}
	.single-call-to-action {display: block;height: auto;padding: 50px 0;}
	.single-call-to-action .icon-box, .single-call-to-action .content-box {display: block;text-align: center;}
	.single-call-to-action .icon-box {margin-left: auto;margin-right: auto;}
	.single-call-to-action .content-box {width: 100%;}
	.single-call-to-action .content-box ul li {width: 100%;}
	.footer-widget {width: 90%;margin-left: auto;margin-right: auto;}
}


/* revolution slider fix styles */

@media (max-width: 650px) {
	.tp-caption {display: none !important;}
}

/* menu responsive styles */

@media (max-width: 768px) {
	.navigation {position: relative;}
	.navigation .nav-header {display: none;position: absolute;top: 100%;left:0;width: 400px;background: #262F36;z-index: 9999;height: 200px;overflow:hidden;overflow-y: scroll;}
	.navigation .nav-footer {display: block;}
	.navigation .nav-footer button {display: inline-block;width: 40px;height: 40px;background: #1B99C1;color: #fff;border: none;outline: none;font-size: 18px;margin: 15px 0;}
	.navigation .nav-header > ul > li {display: block;width: 100%;}
	.navigation .nav-header > ul > li > a, .navigation .nav-header > ul > li:first-child > a {padding: 14px 19px; background: #1B99C1;border-bottom: 1px solid #fff;}
	.navigation .nav-header .dropdown a {position: relative;}
	.navigation .nav-header .dropdown a button {display: block;width: 30px;height: 30px;background: #fff;color: #1B99C1;border: none;outline: none;font-size: 15px;border-radius: 5px;position: absolute;right: 15px;top: 8px;}
	.navigation .nav-header > ul > li:hover > a {color: #fff;}
	.navigation .nav-header > ul > li > ul {position: relative;display: none;opacity: 1;visibility: visible;width: 100%;transition: none;}
}

@media (max-width: 414px) {	
	.navigation .nav-header {width: 295px;}
}