    /*
    Flaticon icon font: Flaticon
    Creation date: 01/07/2018 09:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-message:before { content: "\f100"; }
.flaticon-info-sign:before { content: "\f101"; }
.flaticon-clock:before { content: "\f102"; }
.flaticon-placeholder:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-fracture-arm:before { content: "\f105"; }
.flaticon-ankle:before { content: "\f106"; }
.flaticon-hold:before { content: "\f107"; }
.flaticon-elbow:before { content: "\f108"; }
.flaticon-hip-bone:before { content: "\f109"; }
.flaticon-bones-joint:before { content: "\f10a"; }
    
    $font-Flaticon-message: "\f100";
    $font-Flaticon-info-sign: "\f101";
    $font-Flaticon-clock: "\f102";
    $font-Flaticon-placeholder: "\f103";
    $font-Flaticon-phone-call: "\f104";
    $font-Flaticon-fracture-arm: "\f105";
    $font-Flaticon-ankle: "\f106";
    $font-Flaticon-hold: "\f107";
    $font-Flaticon-elbow: "\f108";
    $font-Flaticon-hip-bone: "\f109";
    $font-Flaticon-bones-joint: "\f10a";