	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/07/2018 09:15
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-message:before { content: "\f100"; }
.flaticon-info-sign:before { content: "\f101"; }
.flaticon-clock:before { content: "\f102"; }
.flaticon-placeholder:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-fracture-arm:before { content: "\f105"; }
.flaticon-ankle:before { content: "\f106"; }
.flaticon-hold:before { content: "\f107"; }
.flaticon-elbow:before { content: "\f108"; }
.flaticon-hip-bone:before { content: "\f109"; }
.flaticon-bones-joint:before { content: "\f10a"; }